
body, html {
  margin: 0;
  padding: 0;
}

.hr {
  border-top: 1px solid #e0e2ec;
  margin: 1rem 0;
}

.form-row {
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  &--center {
    justify-content: center;
  }
}

.form-label {
  flex-basis: 150px;
}

.form-control {
  flex: 1;

  input, textarea {
    width: 100%;
  }
}
